{
	"semi": true,
	"trailingComma": "none",
	"singleQuote": true,
	"printWidth": 80,
	"useTabs": true,
	"plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
	"pluginSearchDirs": false
}
