---
import Forecastday from "./Forecastday.astro";
---

<div class="hidden ">
    <div class="flex flex-col p-1.5 rounded-xl bg-neutral-900 m-2 justify-evenly">

        <h1 class="text-base ">3 Day Forecast</h1>

        <div class="flex flex-col justify-evenly ">

            <Forecastday imgSrc="/weathericons/day/113.png" low="0°F" high="0°F" condition="Dusk"/>

            <Forecastday imgSrc="/weathericons/day/113.png" low="0°F" high="0°F" condition="Dusk"/>

            <Forecastday imgSrc="/weathericons/day/113.png" low="0°F" high="0°F" condition="Dusk"/>
        </div>
    </div>
</div>