---

---

<div class="flex flex-col rounded-xl bg-neutral-900 py-0.5 md:hidden">
	<div class="flex justify-evenly">
		<button>
			<img class="w-8" src="/Weather_App/currentTemp.svg" alt="" />
		</button>
		<button>
			<img class="w-8" src="/Weather_App/forecast.svg" alt="" />
		</button>
	</div>

	<div class="flex h-1 w-3/4 self-center">
		<div class="w-1/2 bg-white"></div>
		<div class="hidden w-1/2 bg-white"></div>
	</div>
</div>
